<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de Perguntas</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/navbar.ejs") %>
    
    <div class="container">

        <h1>Perguntas</h1>
        <br>
        <a href="/perguntar" class="btn btn-primary">Perguntar</a>
        <br>
        <% pergunt.forEach(p => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <h3><%= p.titulo %></h3>
                </div>
                <div class="card-footer">
                    <p><%= p.descricao %></p>
                    <button class="btn btn-primary"> Responder </button>
                </div>
            </div>

        <% }) %>
    </div>
</body>
<%- include("partials/footer.ejs") %>
</html>

